* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 9vh;
  width: auto;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

label, input{
  display: block;
}

main {
  height: 90vh;
  width: auto;
  background: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameSetup{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 100%;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameSetup .setting_container {
  background-color: black;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 1rem 0.5rem;
  width: 330px;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.gameSetup  h2{
  padding-top: 1.2rem;
  font-size: 3rem;
}

.player_names label{
  color: rgb(255, 255, 255);
   text-decoration: none;
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.player_names input{
  width: 120px;
  height: 39px;
  border:3px solid black;
  border-radius: 6px;
  padding: 0 4px;
}


/* DIV DE BOTONES DE SET */
.gameSetup #sets_buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.gameSetup #sets_buttons label{
  color: rgb(255, 255, 255);
  text-decoration: none;
 font-weight: 600;
 font-size: 2.1rem;
 margin-bottom: 1rem;
}

.gameSetup #sets_buttons input{
  transform: scale(2); 
}


/* DIV DE BOTONES DE GAME */
.gameSetup #game_buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

/* BOTONES DE GAMES */
.gameSetup #game_buttons label{
  color: rgb(255, 255, 255);
  text-decoration: none;
 font-weight: 600;
 font-size: 2.1rem;
 margin-bottom: 1rem;
}

.gameSetup #game_buttons input{
  border:1px solid black;
  transform: scale(2); 
}

.gameSetup .setting_container #input_nombre_jugadores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 80%;
}


/* BOTON DE START */
.gameSetup .start button{
    height: 90px;
    width: 270px;
    border-radius: 15px;
    background-color: black;
    border: 2px solid black;
    
  }

  .gameSetup .start button a{
   color: white;
   text-decoration: none;
  font-weight: 600;
  font-size: 2.4rem;
  }

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:330px;
  border:3px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content .botones{
  width: 80%;
  height: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.modal-content .botones button{
 font-weight: 600;
 font-size: 2.1rem;
 padding:9px;
 color: white;
 border-radius: 5px;
 border: 3px solid black;
 cursor: pointer;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
