*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

main{
    height: 99vh;
    width: auto;
    display:flex;   
    flex-direction: column;
}

.scorPerGameSection{
    margin-top: 30px;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scorPerGameSection .names{
display: flex;
width: 80%;
justify-content: space-around;
align-items: center;
flex-direction: row;
background-color: black;
padding: 12px 6px;
padding-top: 12px;
}

.scorPerGameSection .names h2{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#p1score{
    color: white;
}

#p2score{
    color: white;
}

.gamePoints__container{
    width: 80%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.gamePoints__container h2{
    margin: 0 21px;
    font-size: 10.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.gamepoints{
    height: 25%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.buttons{
    height: 36vh;
    background-color: rgb(26, 5, 20);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons .buttons__points{
    width: 80%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.buttons .buttons__points button{
    margin: 0 auto;
    padding:6px;
    width: 130px;
    height: 81px;
    background-color: black;
    color: white;
    border-radius: 1px solid black;
    border-radius:15px;
    font-weight: 600;
    font-size: 2.4rem;
}

.buttons .buttons__points_redo{
    width: 80%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.buttons .buttons__points_redo button{
    margin: 2rem auto;
    width: 60px;
    height: 60px;
    background-color: black;
    border: 2px solid black;
    border-radius:50%;
}

.buttons{
    background: white;
}

/* .buttons button{
    margin: 0 auto;
    padding: 3rem;
    border: 2px solid black;
    border-radius:20%;
} */

.scoreGrid{
    height:240px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scoreGrid #grid1{
    width: 90%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.scoreGrid #grid1 p,.scoreGrid #grid2 p{
  font-weight: 600;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreGrid #grid2{
    width: 90%;
    height: 50%;
    background-color: rgb(218, 218, 218);
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}


  /*SCORE GRID*/

  

  


  footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
  }

  footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }